<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<form method="post" action="/store" enctype="multipart/form-data">  <!-- /store es el lugar de redireccionamiento que aun no existe debemos agregarla en app.py-->

    Nombre: <input type="text" name="txtNombre" id="txtNombre"> 
    <br> 
    Correo: 
    <input type="text" name="txtCorreo" id="txtCorreo">  
    <br> 
    Foto: <input type="file" name="txtFoto" id="txtFoto">
    <br> <br> 
    
    <input type="submit" value="Agregar">

</form>

