<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body >
   <h1>Actividades por empleado</h1>
    

   <table class="table table-light"> 
    <thead class="thead-light"> 
        <tr>
            <th >Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Actividad</th>
            <th>Fecha y hora</th> 
        </tr>
    </thead>
    <tbody>
        {% for actividad in actividades %}
        <tr>
            
            <td>{{actividad[0]}}</td>
            <td>{{actividad[1]}}</td>
            <td>{{actividad[2]}}</td>
            <td>{{actividad[3]}}</td>
            <td>{{actividad[4]}}</td>
        </tr>
        {% endfor %}
    </tbody> 
   </table>
</body>
</html>